@import url(sanitize.css);
body {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666;
}
*{
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
}
.btn{
    float:left;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

header {
    background-color: #422814;
    padding: 10px;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
table {
        table-layout: fixed;
        width: 600px;
        height: 50px;
    }
table, td, th{
    border: 1px solid black;
    }
.table-scroll {
        overflow-x: scroll;
    }
.test1{
    appearance: none;
    -webkit-appearance: none;
}
    
@media only screen and (min-width:640px){
    *{
        margin: 0 auto;
    }
    .btn{
        float:none;
    }
        header {
            padding :5px;
        }
        header h1 {
            font-size: 23px;
        }
        .test {
            font-size:23px;
    
        }
        table {
            table-layout: fixed;
            max-width:1000px;
            height: 100px;
            white-space: nowrap;
            max-width: 100%;
            appearance: none;
        }
        table, td, th{
            border: 1px solid black;
        }
        .table-scroll {
            overflow-x: scroll;
        }
    }

@media only screen and (max-width:600px){
    header {
        padding :5px;
    }
    header h1 {
        font-size: 20px;
    }
    .test {
        font-size:18px;

    }
    table {
        table-layout: fixed;
        width:1000px;
        height: 70px;
        white-space: nowrap;
        max-width: 100%;
        appearance: none;
    }
    table, td, th{
        border: 1px solid black;
        appearance: none;
    }
    .table-scroll {
        overflow-x: scroll;
    }
}
@media only screen and (max-width:480px){
    header {
        padding :5px;
    }
    header h1 {
        font-size: 12px;
    }
    .test {
        font-size:12px;
        white-space: nowrap;
    }
    table {
        table-layout: fixed;
        width:480px;
        height: 50px;
        white-space: nowrap;
        max-width: 100%;
        appearance: none;
    }
    table, td, th{
        border: 1px solid black;
        appearance: none;
    }
    .table-scroll {
        overflow-x: scroll;
    }
    
}
@media only screen and (max-width:320px){
    header {
        padding :5px;
    }
    header h1 {
        font-size: 12px;
    }
    .test {
        font-size:14px;
        white-space: nowrap;
    }
    table {
        table-layout: fixed;
        width:320px;
        height: 50px;
        white-space: nowrap;
        max-width: 100%;
    }
    table, td, th{
        border: 1px solid black;
    }
    .table-scroll {
        overflow-x: scroll;
    }
}
